.try::before {
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 6px;
  position: absolute;
  bottom: 0px;
}







.triangle::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid  #FB7912;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
   
}



.discount{
  position:absolute;
  background-color: #fb7912;
  width: 90px;
  height: 90px;
 
  color:white;
  border-radius:50%;
  top:-20px;
  right:10px;
}

